.crveni_paragraf {
    color: red;
}
.desno_poravnanje {
    text-align: right;
}

/* Vise elemenata sa istim svojstvom */

h3, h4{
    color: orange;
}

.drugi, #treci {
    background-color: yellow;
}
/* Prioritet: selektor < klasa < id */

li {
    color: green;
}
.kurs {
    color: blue;
}
#js {
    color: red;
}

/* Selektovati sve paragrafe unutar div elementa */

div p {
    text-decoration: underline;
}

div .podparagraf {
    font-weight: bolder;
}
/* SELEKTUJE SAMO DIREKTNE POTOMKE --- SAMO PRVO KOLENO */
#divizija > p {
    font-family: 'Courier New', Courier, monospace;
}
/* Prvi treci  */
ol li:nth-child(3) {
    color: red;
}
/* Svaki treci */
ol li:nth-child(3n) {
    font-style: italic;
}

/* SVAKI NEPARNI */
ol li:nth-child(odd) {
    background-color: rosybrown;
}