* {
    box-sizing: border-box;
    margin: 0;
    
}
 /* #parent {
    background-color: brown;
    position: relative;
    width: 100%;
    height: 18px;
}
#parent p {
    position: absolute;
    background-color: burlywood;
    width: 25%;
}
#parent p:nth-child(1) {
    left: 0;
}
#parent p:nth-child(2) {
    left: 25%;
}
#parent p:nth-child(3) {
    left: 50%;
} */ 

 /* Kada se koristi float svojstvo
1) Mora da postoji deca koja se redjaju:
    float: (left ili right)
2) Roditelji unutar kojeg se redjaju:
    overflow: hidden; */


 /* #parent {
    background-color: brown;
    width: 100%;
    overflow: hidden;
}

#parent p {
    background-color: burlywood;
    float: right;
    width: 25%;
}
#parent p:first-child{
    float: left;
} 
.topbar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;    
    overflow: hidden;
    background-image: url("img/pizza.jpg");
}
ul {
    
    padding: 0;
    list-style: none;
}
li {
    position: relative;
    background-color: black;
    list-style: none;
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
}
li:hover {
    background-color: red;
}
a {
    position: absolute;
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image {
    background-image: url("img/pizza.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
li + li {
    border-left: 1px solid white;
} 

.image h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.drp a {
    display: grid;
    color: rebeccapurple;
} */
body {
    /* background-color: rosybrown; */
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1; position: absolute;
    width: 100%;
}
ul li {
    float: left;
    width: 25%;
    height: 40px;
    background-color: black;
    text-align: center;
    opacity: 0.9;
    line-height: 40px;
    font-size: 20px;
}
.drp {
    display: grid;
    width: 1800px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: red;
}
ul li .drp li {
    display: none;
}
ul li:hover .drp li {
    display: block;
}
.image {
    background-image: url("img/pizza.jpg");
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 40px;
}
.image h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

