body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9c4c4;
}


header {
    color: #095243;
    font-weight: bold;
}
.btn{
    background-color: #4dc792;
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    border-radius: 5px;
    height: 25px;
    border: none;
}
.btn:hover{
    background-color: wheat;
}
.btn:focus{
    background-color: wheat;
}
.input_submit{
    border: none;
    width: 130px;
    background-color: #4dc792;
    font-weight: bold;
    color: black;
    /* margin-top: 20px; */
    height: 25px;
    border-radius: 5px;
}
.input_submit:hover{
    background-color: wheat;
}
input, textarea {
    background-color: wheat;
    width: 400px;
    height: 25px;
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
}
ul li{
    overflow: hidden;
    font-weight: bold;
}
i{
    float: right;
    padding-right: 5px;
    cursor: pointer;
    opacity: 0.7;
}

/* ul li:nth-child(odd) {
    background-color: blanchedalmond;
    margin: 5px;
    border-radius: 0px 5px 5px 5px;
    width: 49%;
    float: left;
} */
#changeUsername.show{
    width: 50px;
    color: wheat;
    /* position: absolute;
    bottom: 10px;
    right: 30%; */
    font-size: 30px;
}
/* .active{
    transform: scale(1.1);
} */
ul li.left{
    background-color: wheat;
    color: #095243;
    margin: 5px;
    border-radius: 0px 5px 5px 5px;
    width: 49%;
    float: left;
}

ul li.right{
    background-color: #095243;
    color: wheat;
    margin: 5px;
    border-radius: 5px;
    width: 49%;
    float: right;
    border-radius: 5px 0px 5px 5px;
}
.row {
    width: 100%;
    padding-bottom: 10px;
}
.all {
    width: 50%;
    margin: 30px 10px; 
    border-radius: 40px;
    background-color: #999999;
}

#btnSend{
    margin-top: 0px;
    margin-left: 5px;
}
#sendMessage{
    display: flex;
    justify-content: center;
    align-items: center;
}
#colorForm{
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnColor{
    margin-left: 5px;
}
#changeColor{
    width: 400px;
    height: 25px;
}
#startDate{
    width: 190px;
    margin-bottom: 20px;
}
#endDate{
    width: 200px;
}





 /* MEDIA QUERY ZA MOBILNI */

 @media only screen and (max-width: 425px){
        .all {
            width: 100%;
            border: 1px solid black;
            border-radius: 40px;
            margin: 50px 10px;
            background-color: #999999;
            z-index: 99;
            }
        input {
            height: 25px;
        }
        .row{
            width: 80%;
            margin: 20px 40px;
            text-align: center;
        }
        #colorForm{
            display: block;
        }
        #btnColor{
            margin-top: 5px;
        }
        #dates{
            display: block;
        }
        #changeColor{
            width: 100%;
        }
        [class*="col-"] {
            width: 100%;
            margin: 10px 0;
        }
        .input_submit{
            margin: 0;
        }
        #sendMessage{
            display: block;
        }
        .col-m-1 {
         width: 8.33%;
        }
        .col-m-2 {
            width: 16.66%;
        }
        .col-m-3 {
            width: 25%;
        }
        .col-m-4 {
            width: 33.33%;
        }
        .col-m-5 {
            width: 41.66%;
        }
        .col-m-6 {
            width: 50%;
        }
        .col-m-7 {
            width: 58.33%;
        }
        .col-m-8 {
            width: 66.66%;
        }
        .col-m-9 {
            width: 75%;
        }
        .col-m-10 {
            width: 83.33%;
        }
        .col-m-11 {
            width: 91.66%;
        }
        .col-m-12 {
            width: 100%;
        }
    }

     /* MEDIA QUERY ZA TABLET */

     @media only screen and (min-width: 425px) and (max-width: 768px){
         .all {
             width: 100%;
         }
         #sendMessage{
             display: block;
         }
        .btn {
            margin: 5px;
        }
        .col-t-1 {
            width: 8.33%;
        }
        .col-t-2 {
            width: 16.66%;
        }
        .col-t-3 {
            width: 25%;
        }
       .col-t-4 {
           width: 33.33%;
       }
       .col-t-5 {
           width: 41.66%;
       }
       .col-t-6 {
            width: 50%;
        }
       .col-t-7 {
           width: 58.33%;
        }
       .col-t-8 {
           width: 66.66%;
        }
       .col-t-9 {
           width: 75%;
        }
       .col-t-10 {
           width: 83.33%;
        }
       .col-t-11 {
           width: 91.66%;
        }
       .col-t-12 {
           width: 100%;
       }
     }
     @media only screen and (min-width: 768px) and (max-width: 1024px){

        .all {
            width: 80%;
        }
        #sendMessage{
            display: block;
        }
        .btn {
           margin: 5px;
        }
        .col-l-1 {
            width: 8.33%;
        }
        .col-l-2 {
            width: 16.66%;
        }
        .col-l-3 {
            width: 25%;
        }
       .col-l-4 {
           width: 33.33%;
       }
       .col-l-5 {
           width: 41.66%;
       }
       .col-l-6 {
            width: 50%;
        }
       .col-l-7 {
           width: 58.33%;
        }
       .col-l-8 {
           width: 66.66%;
        }
       .col-l-9 {
           width: 75%;
        }
       .col-l-10 {
           width: 83.33%;
        }
       .col-l-11 {
           width: 91.66%;
        }
       .col-l-12 {
           width: 100%;
       }
     }